.mod-bg-body-tertiary {
    --bs-bg-opacity: 1;
    background-color: #033076;
    height: 60px;
    display: flex;
}

.txt-top-header {
    align-self: center;
    font-size: 40px;
    font-family: 'Times New Roman', Times, serif;
    color: white;
    text-decoration: none;
    white-space: nowrap;
}

.container-top-header {
    display: flex;
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    max-height: 50px;
    width: 100%;
    padding-right: calc(var(--bs-gutter-x) * .5);
    padding-left: calc(var(--bs-gutter-x) * .5);
    margin-right: auto;
    margin-left: auto;
    justify-content: center;
}

.carousel {
    max-width: 95%;
    margin: 0 auto;
}

.carousel-item {
    height: 70%;
}

.carousel-item img {
    object-fit: cover;
    height: 600px;
}

.espaciado-noma {
    padding-top: 3%;
}

.max-width95 {
    max-width: 95%;
}

.flex-centrado {
    display: flex;
    justify-content: center;
}

.card img {
    max-width: 100%;
    max-height: 50%;
}

.capa-transparente {
    display: flex;
    position: absolute;
    bottom: 0;
    background-color: #000;
    background: linear-gradient(transparent, white 80%);
    height: 75%;
    width: 100%;
}

.carta-texto {
    display: flex;
    justify-content: center;
    position: relative;
    width: 100%;
    height: auto;
}

.boton-articulo {
    display: inline-flex;
    position: relative;
    align-items: center;
    position: absolute;
    padding-top: 5px;
    padding-bottom: 5px;
    bottom: 0;
    width: calc(60% + 50px);
    height: 44px;
    font-size: 22px;
    border: none;
    cursor: pointer;
    color: #000000;
    border-radius: 5px;
    text-transform: uppercase;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    overflow: hidden;
    transition: .3s ease-in-out all;
}

.boton-articulo:hover {
    background: aquamarine;
    transition: .3s ease-in-out all;
}

.boton-articulo span {
    display: flex;
    flex-direction: row;
    position: absolute;
    height: 1;
    width: 1;
    transition: .3s ease-in-out all;
    margin-left: calc(50% - 75px);
}

.boton-articulo:hover span {
    transition: .4s ease-in-out all;
    margin-left: calc(30% - 50px);
}

.boton-icono {
    display: flex;
    align-items: center;
    position: absolute;
    z-index: 2;
    margin-left: 50%;
    transition: .3s ease-in-out;
    opacity: 0;
}

.boton-articulo:hover .boton-icono {
    margin-left: calc(70% + 25px);
    opacity: 1;
    transition: .3s ease-in-out;
}

.boton-icono svg {
    color: #000000;
    width: 35px;
    height: 35px;
}

.boton-articulo span {
    position: relative;
    z-index: 2;
}

.margin-left-auto {
    margin-left: auto;
}

.a-articulo {
    display: inline-flex;
    position: relative;
    align-items: center;
    position: absolute;
    padding-top: 5px;
    padding-bottom: 5px;
    bottom: 0;
    width: 100%;
    height: 44px;
    font-size: 22px;
    border: none;
    cursor: pointer;
}